.active a {
    background: #3741db;
    color: #fff;
  }
  .active {
    border-left: 5px solid #3741db;
  }
  
th {
  min-width: 170px;
  color: #000;
  padding: 10px 10px;
}
 td{
  background: #3741db;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(103 232 249 / var(--tw-bg-opacity));
}
.btn.bg-pri:hover {
  background: #2e37ba;
}